<div class="home-container">
    <div class="slider">
      <%= image_tag "desktop1.jpg", alt: 'desktop', class: "imgSlider active" %>
      <%= image_tag "desktop2.jpg", alt: 'desktop', class: "imgSlider" %>
      <%= image_tag "desktop3.jpg", alt: 'desktop', class: "imgSlider" %>
      <%= image_tag "desktop4.jpg", alt: 'desktop', class: "imgSlider" %>
      <%= image_tag "laptop.jpg", alt: 'laptop', class: "imgSlider" %>
      <%= image_tag "desktop5.jpg", alt: 'desktop', class: "imgSlider" %>
        <div class="link-elements">
          <%= link_to "services", services_path, class: "link-btn" %>
          <h1>PC Genius</h1>
          <%= link_to "contact", contact_path, class: "link-btn" %>
        </div>
        <div class="contact-btn">
          <%= link_to "contactez-moi", contact_path, class: "main-btn" %>
        </div>
        <div class="btnleft">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="btnright">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
</div>
