<div class="cards-contain">
    <div class="carte">
      <h3 class="card-title">Pc portable</h3>
      <a href=" <%= laptop_path %> " class="link-card"> <%= image_tag 'portable.jpg', class: "carte-img" %> </a>
    </div>
    <div class="carte">
      <h3 class="card-title">Pc fixe</h3>
      <a href=" <%= fixe_path %> " class="link-card"><%= image_tag 'fixe.jpg', class: "carte-img" %></a>
    </div>
    <div class="carte">
      <h3 class="card-title">Smartphone</h3>
      <a href=" <%= phone_path %> " class="link-card"><%= image_tag 'iphonepcgenius.png', class: "carte-img" %></a>
    </div>
    <div class="carte">
      <h3 class="card-title">Console de jeux</h3>
      <a href=" <%= console_path %> " class="link-card"><%= image_tag 'console.jpg', class: "carte-img" %></a>
    </div>
</div>
