<%= render 'shared/navbar' %>

<div class="console-container">
    <div class="prestations-console">
        <%= image_tag "console-card1.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "console-card2.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "console-card3.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "console-card4.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= link_to "me contacter", contact_path, class: "solo-btn" %>
    </div>
</div>

<%= render 'shared/footer' %>
