<%= render 'shared/navbar' %>

<div class="laptop-container">
    <div class="prestations-laptop">
        <%= image_tag "deplace-card.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "install-card.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "clean-card.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "desinf-card.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "data-card.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "formation-card.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= link_to "me contacter", contact_path, class: "solo-btn" %>
    </div>
</div>


<%= render 'shared/footer' %>
