<%= render 'shared/navbar' %>

<div class="phone-container">
    <div class="prestations-phone">
        <%= image_tag "phone-card1.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "phone-card2.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "phone-card3.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "phone-card4.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= image_tag "phone-card5.png", alt: 'image des tarifs', class: "img-tarif-laptop" %>
        <%= link_to "me contacter", contact_path, class: "solo-btn" %>
    </div>
</div>

<%= render 'shared/footer' %>
